<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>58352709513-95e28ckffo366o9lohvl6m6q3tfurfls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58352709513-95e28ckffo366o9lohvl6m6q3tfurfls</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>58352709513-ootepvdp2vupboh93edb3u6d7gv7cnsh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCxinSTbzvQTcLwH_j76ksgqyE9j8o-XQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>58352709513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lotto</string>
	<key>PROJECT_ID</key>
	<string>lotto-551a2</string>
	<key>STORAGE_BUCKET</key>
	<string>lotto-551a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58352709513:ios:0b98a81bb0c3163ce13b58</string>
</dict>
</plist>